<%- include("../nav") -%>
<section class="container">
    <div class="row">
        <div class="col m4"></div>
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image">
                    <img src="images/efectivo.jpg">
                    <span class="card-title"></span>
                </div>
                <div class="card-content">
                    <div class="row">
                        <form method="post" action="">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">credit_card</i>
                                    <input id="icon_prefix" name="email" type="text" class="validate">
                                    <label for="icon_prefix">Numero de Cuenta</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">attach_money</i>
                                    <input id="icon_telephone" name="pass" type="tel" class="validate">
                                    <label for="icon_telephone">Monto</label>
                                </div>
                                <button type="submit" class="btn-floating halfway-fab waves-effect waves-light teal"><i class="material-icons">send</i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
