<section class="container">
    <div class="row">
        <div class="col m4"></div>
        <div class="col s12 m5">
            <div class="card">
                <div class="card-image center-align">
                    <i class="large material-icons">account_circle</i>
                    <h4 class="h4 center-align teal-text">Log in</h4>
                </div>
                <div class="card-content">
                    <div class="row">

                        <form method="post" action="auth">
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">local_post_office</i>
                                    <input id="icon_prefix" name="email" type="email" class="validate">
                                    <label for="icon_prefix">Correo</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <i class="material-icons prefix">lock</i>
                                    <input id="icon_telephone" name="pass" type="password" class="validate">
                                    <label for="icon_telephone">Constraseña</label>
                                </div>
                                <button type="submit" class="btn-floating halfway-fab waves-effect waves-light teal"><i class="material-icons">subdirectory_arrow_right</i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
