<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
</style>
<nav>
    <div class="nav-wrapper teal">
        <a href="/home" class="brand-logo">Cooperativa</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/cliente">Clientes</a></li>
            <li><a href="badges.html">Transacciones</a></li>
            <li><a href="/cuenta">Cuentas</a></li>
            <li><a href="collapsible.html">Bancos</a></li>
            <li><a href="/logout">Salir</a></li>
        </ul>
    </div>
</nav>