<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="images/account_balance.png" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    <body>
        <style>
            .copy-left { display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: “FlipH”; }
        </style>
        <%- include(template) -%>
        <footer class="page-footer teal">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Cooperativa Ahorro y Crédito Nuevas Esperanzas</h5>
                        <p class="grey-text text-lighten-4">Una Cooperativa para Hacer Crecer tus Notas.<br>
                            <br />
                            Esta Pagina fue diseñada con:
                            <a class="grey-text text-lighten-3" href="https://materializecss.com">materializecss</a>
                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://github.com/xavy26">GitHub</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://gitlab.com/xavy26">GitLab</a></li>
                            <% if(usuario!=""){ %>
                            <li>Accedió como: <%= usuario %></li>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <span class="copy-left">©</span> 2019 Copyleft <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"></a>
                    <a class="grey-text text-lighten-4 right" href="https://materializecss.com">Powered by materializecss</a>
                </div>
            </div>
        </footer>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems, {});
            }); 
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.datepicker');
                var instances = M.Datepicker.init(elems, {format: "yyyy-mm-dd"});
            });
        </script>
        <% if(mensaje!=""){ %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                M.toast({html: '<%= mensaje %>', classes: 'rounded'});
                        });
        </script>
        <% } %>
    </body>
</html>
