<%- include("../nav") -%>
<section class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Cliente</th>
                                    <th>Cedula</th>
                                    <th>Correo</th>
                                    <th>Teléfonos</th>
                                    <th>Dirección</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% if(clientes!=undefined){ %>
                                <% clientes.forEach(function(cli){ %>
                                <tr>
                                    <td><%= cli.nombres %> <%= cli.apellidos %></td>
                                    <td><%= cli.cedula %></td>
                                    <td><%= cli.correo %></td>
                                    <td><%= cli.telefono %> / <%= cli.celular %></td>
                                    <td><%= cli.direccion %></td>
                                </tr>
                                <% }); %>
                                <% }else{ %>
                                <td colspan="5">No hay Clientes Registrados<a class="btn red right" href="/cliente/nuevo">Ingresar Nuevo</a></td>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light right red" title="Nuevo" href="/cliente/nuevo"><i class="material-icons">add</i></a>
</div>
