<%- include("../nav") -%>
<section class="container">

    <div class="row">
        <form class="col s12" action="/cliente/registrar" method="post">
            <div class="row">
                <div class="input-field col s12">
                    <select name="tipoCuenta">
                        <option value="" disabled selected>Seleccione...</option>
                        <option value="corriente">Corriente</option>
                        <option value="ahorros">Ahorro</option>
                        <option value="basica">Básica</option>
                        <option value="nomina">Nómina</option>
                        <option value="valores">Valores</option>
                        <option value="juvenil">Juvenil</option>
                        <option value="programado">Ahorro Programado</option>
                        <option value="euros">Ahorro en Euros</option>
                    </select>
                    <label>Seleccione el Tipo de Cuenta</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="name_user" name="nombre" type="text" class="validate">
                    <label for="name_user">Nombres</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name_user" name="apellido" type="text" class="validate">
                    <label for="last_name_user">Apellidos</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="ci_user" name="cedula" type="text" class="validate">
                    <label for="ci_user">Cedula de Identidad</label>
                </div>
                <div class="input-field col s6">
                    <input id="user_scol" name="direccion" type="text" class="validate">
                    <label for="user_scol">Dirección</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="telefono" name="telefono" type="tel" class="validate">
                    <label for="telefono">Teléfono</label>
                </div>
                <div class="input-field col s6">
                    <input id="celular" name="celular" type="tel" class="validate">
                    <label for="celular">Celular</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <select name="genero">
                        <option value="" disabled selected>Seleccione...</option>
                        <option value="f">Femenino</option>
                        <option value="m">Masculino</option>
                    </select>
                    <label>Seleccione su Género</label>
                </div>
                <div class="input-field col s6">
                    <select name="estadoCivil">
                        <option value="" disabled selected>Seleccione...</option>
                        <option value="soltero">Soltero</option>
                        <option value="casado">Casado</option>
                        <option value="viudo">Viudo</option>
                        <option value="divorciado">Divorciado</option>
                        <option value="union">Union Libre</option>
                    </select>
                    <label>Seleccione su Estado Civil</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="input-field inline col s12">
                        <input id="email_inline" name="correo" type="email" class="validate">
                        <label for="email_inline">Email</label>
                        <span class="helper-text" data-error="wrong" data-success="right">people@example.com</span>
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="birthday_user" name="nacimiento" type="text" class="datepicker">
                    <label for="birthday_user">Fecha de Nacimiento</label>
                </div>
            </div><div class="row">
            <div class="col s6">
                <a class="btn waves-effect waves-light red" href="/cliente/">Cancelar
                    <i class="material-icons right">cancel</i>
                </a>
            </div>
            <div class="col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                    <i class="material-icons right">send</i>
                </button>
            </div>
            </div>
        </form>
    </div>

</section>