<%- include("../nav") -%>
<section class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Apertura</th>
                                    <th>Tipo</th>
                                    <th>Cliente</th>
                                    <th>Saldo</th>
                                </tr>
                            </thead>

                            <tbody>
                                <% if(cuentas!=undefined && clientes!=undefined){ %>
                                <% cuentas.forEach(function(cu){ %>
                                <tr>
                                    <td><%= cu.numero %></td>
                                    <td><%= cu.fechaApertura %></td>
                                    <td><%= cu.tipoCuenta %></td>
                                    <% clientes.forEach(function(cli){ %>
                                    <% if(cu.cliente==cli.cliente_id){ %>
                                    <td><%= cli.nombres %> <%= cli.apellidos %></td>
                                    <% } %>
                                    <% }); %>
                                    <td><%= cu.saldo %></td>
                                </tr>
                                <% }); %>
                                <% }else{ %>
                                <td colspan="5">No hay Clientes Registrados<a class="btn red right" href="/cliente/nuevo">Ingresar Nuevo</a></td>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light right amber" title="Nuevo" href="/cliente/nuevo"><i class="material-icons">add</i></a>
</div>
